body {
	background-color: #cccccc;
}

h1, h3 {
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

.gameLabel, .axisLabel {
	font-family: 'Slabo 27px', serif;
}

.specialLabel {
	font-family: Arial, sans-serif;
	font-style: italic;
}

footer {
	padding: 20px;
}

footer p {
	font-size: 12px;
	font-family: Arial, sans-serif;
}

#main{
	margin: auto;
}

header, footer, svg {
	border: 1px solid black;
	display: block;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: white;
}

.axis path, .axis line{
	fill:none;
	stroke:#666666;
	stroke-width:2;
}

#legend {
	margin-left: auto;
	margin-right: auto;
	float: left;
	position:absolute;
	left: 300px;
	top: 200px;
}

.clear {
	clear: both;
}

a { 
	color: #0000dd;
	cursor: pointer;
	text-decoration: underline;
}
a:hover { 
	color: #9999aa;
}
a:active {
	color: #333366;
}